
.slide-left.ng-enter, 
.slide-left.ng-leave
{ 
    -webkit-transition: 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -moz-transition: 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -ms-transition: 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -o-transition: 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    transition: 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    position: relative;
    display:block!important;
} 

 
.slide-left.ng-leave.slide-left.ng-leave-active,
.slide-left.ng-enter {
    
    opacity: 0;
    right: -280px;
    height: 0px;
} 
 
.slide-left.ng-enter.ng-enter-active, 
.slide-left.ng-leave {
    opacity: 1;
    right: 0;
    height: 30px;
}


.notify-animate.ng-enter, 
.notify-animate.ng-move,
.notify-animate.ng-leave
{ 
    -webkit-transition: 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -moz-transition: 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -ms-transition: 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -o-transition: 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    transition: 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    position: relative;
    display:block!important;
} 

 
.notify-animate.ng-leave.notify-animate.ng-leave-active,
.notify-animate.ng-enter {
    
    opacity: 0;
    left: -400px;
} 

.notify-animate.ng-move.notify-animate.ng-move-active {
    top: 0;
    left: 40px;
}
 
.notify-animate.ng-enter.ng-enter-active, 
.notify-animate.ng-leave {
    opacity: 1;
    left: 0;
}



/* Scroll down */


.scroll-down.ng-enter, 
.scroll-down.ng-leave
{ 
    -webkit-transition: 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    transition: 300ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    position: relative;
    display:block!important;
} 

.scroll-down.ng-enter {
    opacity: 0;
    top: -300px;
} 
  
.scroll-down.ng-enter.ng-enter-active {
    opacity: 1;
    top: 0;
}  

.scroll-down.ng-leave,  
.scroll-down.ng-leave.ng-leave-active {
    opacity: 0;
    top: 0;
}
