
/* Fix for boostrap.css & angular-ui */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.bodyDiv {
    background-image: url('img/window_bg.png');
    margin: auto auto;
    padding: 0 20px;
}

.contentDiv {
  width: 1240px;
  background-color:white;
  padding: 20px 20px;
}

.canvasDiv {
    cursor: default; /* Avoid text caret when dragging on canvas */
    position: relative; /* Allow child popups inside */
    padding: 0px;
    margin: 0px;
}

.sim-canvas {
    display: block;
}
    
html,body {
    margin:0;
    padding:0;
}

h1, h2, h3 {
    font-family: 'Oswald', 'sans-serif';
}

.alert-compact {
  margin: 5px;
  padding: 5px 5px;

}

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
    outline: none;
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}
input:focus:invalid, textarea:focus:invalid, select:focus:invalid {
    
    color: #b94a48;
    border: 1px solid red;
    border-color: #ee5f5b;
}
input:invalid, textarea:invalid, select:invalid {
    
    color: #b94a48;
    border: 1px solid red;
    border-color: #ee5f5b;
}

.toolbar {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #626B70),
        color-stop(1, #464C56)
    );
    background-image: -o-linear-gradient(bottom, #626B70 0%, #464C56 100%);
    background-image: -moz-linear-gradient(bottom, #626B70 0%, #464C56 100%);
    background-image: -webkit-linear-gradient(bottom, #626B70 0%, #464C56  100%);
    background-image: -ms-linear-gradient(bottom, #626B70 0%, #464C56  100%);
    background-image: linear-gradient(to bottom,  #626B70 0%, #464C56 100%);

    border: 2px LightSlateGray outset;
    border-style: outset;
    padding: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
}

/*.btn-group .btn:focus,*/
.btn-group .btn:active,
.btn-group .btn.active {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #CCC;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 0px #DDD;
}

.toolbarbutton {
    margin: 1px;
    border: 1px outset;
    border-radius: 6px;
    text-shadow: 1px 1px 0px rgba(255,255,255,0.8);
    
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.05, #EEEEEE),
      color-stop(0.33, #DDDDDD),
      color-stop(0.66, #CCCCCC),
      color-stop(1, #AAAAAA)
    );
    background-image: -o-linear-gradient(bottom, #EEEEEE 5%, #DDDDDD 33%, #CCCCCC 66%, #AAAAAA 100%);
    background-image: -moz-linear-gradient(bottom, #EEEEEE 5%, #DDDDDD 33%, #CCCCCC 66%, #AAAAAA 100%);
    background-image: -webkit-linear-gradient(bottom, #EEEEEE 5%, #DDDDDD 33%, #CCCCCC 66%, #AAAAAA 100%);
    background-image: -ms-linear-gradient(bottom, #EEEEEE 5%, #DDDDDD 33%, #CCCCCC 66%, #AAAAAA 100%);
    background-image: linear-gradient(to bottom, #EEEEEE 5%, #DDDDDD 33%, #CCCCCC 66%, #AAAAAA 100%);
}

/*
 *  Workspace Modal Popups  
 *  -----------------------------------------------------------------------------------------------
 */
.workspace-modal-backdrop,
.workspace-modal {
    position: absolute; /* Confine popup stack to workspace div */
    overflow: hidden;
    overflow-y: hidden;
}

.workspace-modal .modal-footer {
    overflow: hidden;
    padding: 10px;
    background-clip: padding-box;  
    -moz-background-clip: padding;  
    -webkit-background-clip: padding;
    background-image: url('img/squared_metal.png');   
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
}

h3 .glyphicon {
    margin: 20px;
}

.popupTable {
  margin-bottom: 0px;
  margin:0px;
}

/* Messagebox modal */
.msgbox-icon {
  margin-left:20px;
  margin-right:20px;
  font-size: 30px;
  float: left;
}

.msgbox-title {
  margin-top: 22px;
  display: inline;
}

/*
 *  CONSOLE TABS  
 *  -----------------------------------------------------------------------------------------------
 */

/* <div> container for console tabs */
#tabs {
  margin-top: 10px; /* Put some space between workspace div and tabs */
}

.tabContainer {
  padding: 8px 8px; /* Inner padding inside active tab */
}

.tab-content > .active {
  border-left: 1px solid LightSlateGray ;
  border-right: 1px solid LightSlateGray ;
  border-bottom: 1px solid LightSlateGray ;
  border-top-color: transparent;
  background-color:white;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: 1px solid LightSlateGray;
  border-bottom: 1px solid transparent;

}

.nav-tabs > li > a {
  margin-right: 2px;
  border: 1px solid LightSteelBlue;
  border-bottom-color: transparent;
}

.nav-tabs > li > a {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

}
.nav-tabs > li > a:hover {
  border-bottom: 1px solid LightSlateGray;
}

.nav-tabs {
  border-bottom: 1px solid LightSlateGray;
}