
<div class="toolbar" ng-controller="ToolbarController">
  
  <div class="btn-group">
    
    <button type="button" class="btn btn3d toolbarbutton dropdown-toggle">
        <span class="glyphicon glyphicon-file"></span>
    </button>
    
    <ul class="dropdown-menu">

      <li ng-repeat="item in menu[0].items" ng-class="{divider : item.name == 'separator'}">
        
        <a ng-if="item.name != 'separator'" role="menuitem" ng-click="item.func()">
          <span class="glyphicon" ng-class="'glyphicon-{{item.icon}}'" ></span>
          <span> {{item.name}}</span>
        </a>
      </li>

    </ul>
  </div>           
  
  <div class="toolbarspacer"></div>
  
  <div class="btn-group">
    <div class="btn-group" dropdown>
      <button type="button" 
              class="btn btn3d toolbarbutton" 
              ng-model="ui_model.editor_mode" 
              btn-radio="'add'"
              tooltip="Add a Device">Add {{ui_model.add_type | capitalize}}</button>
      <button type="button" class="btn btn3d toolbarbutton dropdown-toggle">
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      
      <ul class="dropdown-menu" role="menu">
      
        <li ng-repeat="dev in deviceTypes" ng-click="ui_model.add_type = dev"><a role="menuitem" >{{dev | capitalize}}</a></li>

      </ul>
    </div>

    <button type="button" class="btn btn3d toolbarbutton" 
            ng-model="ui_model.editor_mode" btn-radio="'edit'">Edit</button>
    <button type="button" class="btn btn3d toolbarbutton" 
            ng-model="ui_model.editor_mode" btn-radio="'del'">Del</button>
    <button type="button" class="btn btn3d toolbarbutton" 
            ng-model="ui_model.editor_mode" btn-radio="'link'">Link</button>
  </div>
  
  <div class="toolbarspacer"></div>
  
  <div class="btn-group">
    <button type="button" class="btn btn3d toolbarbutton" ng-click="uiReset()">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
  </div>
  
  <div class="toolbarspacer"></div>

  <div class="btn-group">
    <button type="button" class="btn btn3d toolbarbutton"
            ng-model="ui_model.sim_mode" btn-radio="'run'" tooltip="Run sim">
      <span class="glyphicon glyphicon-play"></span>
    </button>
        <button type="button" class="btn btn3d toolbarbutton"
            ng-model="ui_model.sim_mode" btn-radio="'stop'" tooltip="Stop sim">
      <span class="glyphicon glyphicon-pause"></span>
    </button>
    
  </div>
  
</div>