
<div class="toolbar" ng-controller="ToolbarController">
  
  <div class="btn-group">
    
    <button type="button" class="btn btn3d toolbarbutton dropdown-toggle">
        <span class="glyphicon glyphicon-file"></span>
    </button>
    
    <ul class="dropdown-menu">

      <li ng-repeat="item in menu[0].items" >
        <a role="menuitem" ng-click="item.func()">
          <span class="glyphicon" ng-class="'glyphicon-{{item.icon}}'" ></span>
          <span> {{item.name}}</span>
        </a>
      </li>
 <!--
        <a role="menuitem"><span class="glyphicon glyphicon-open"></span><span> Open</span></a>
        <a role="menuitem" ng-click="uiSave()"><span class="glyphicon glyphicon-save"></span><span> Save</span>
        </a>
      </li>
  -->
    </ul>
  </div>           
  
  <div class="btn-group">
    <button type="button" class="btn btn3d toolbarbutton" 
            ng-model="ui_model.app_mode" btn-radio="'add'">Add</button>
    <button type="button" class="btn btn3d toolbarbutton" 
            ng-model="ui_model.app_mode" btn-radio="'edit'">Edit</button>
    <button type="button" class="btn btn3d toolbarbutton" 
            ng-model="ui_model.app_mode" btn-radio="'del'">Del</button>
    <button type="button" class="btn btn3d toolbarbutton" 
            ng-model="ui_model.app_mode" btn-radio="'link'">Link</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn3d toolbarbutton" ng-click="uiReset()">
      <span class="glyphicon glyphicon-refresh"></span>
    </button>
  </div>
</div>