
<div class="toolbar" ng-controller="uiToolbarController">
  
  <div class="btn-group">
    
    <button type="button" class="btn btn3d toolbar-button dropdown-toggle">
        <ico i="file"></ico>
        <span class="caret"></span>
    </button>
    
    <ul class="dropdown-menu">

      <li ng-repeat="item in menu[0].items" ng-class="{divider : item.name == 'separator'}">
        
        <a ng-if="item.name != 'separator'" role="menuitem" ng-click="item.func()">
          <ico i="{{item.icon}}"></ico>
          <span> {{item.name}}</span>
        </a>
      </li>

    </ul>
  </div>           
  
  <div class="toolbar-spacer"></div>
  
  <div class="btn-group">
    <div class="btn-group" dropdown>
      <button type="button" 
              class="btn btn3d toolbar-button" 
              ng-model="ui_model.editor_mode" 
              btn-radio="'add'"
              tooltip="Add a Device">


      <ico i="plus-square"></ico>{{ui_model.add_type | capitalize}}</button>
      <button type="button" class="btn btn3d toolbar-button dropdown-toggle">
        <span class="caret"></span>
        <!--
        <span class="sr-only">Split button!</span>-->
      </button>
      
      <ul class="dropdown-menu" role="menu">
      
        <li ng-repeat="dev in deviceTypes" ng-click="ui_model.add_type = dev">
          <a role="menuitem" >{{dev | capitalize}}</a>
        </li>

      </ul>
    </div>

    <button type="button" class="btn btn3d toolbar-button" 
            ng-model="ui_model.editor_mode" btn-radio="'edit'" tooltip="Edit">
      <ico i="edit"></ico>
    </button>
    <button type="button" class="btn btn3d toolbar-button" 
            ng-model="ui_model.editor_mode" btn-radio="'del'" tooltip="Delete">
      <ico i="minus-square"></ico>
    </button>
    <button type="button" class="btn btn3d toolbar-button" 
            ng-model="ui_model.editor_mode" btn-radio="'link'" tooltip="Link Devices">
      <ico i="link"></ico>           
    </button>
  </div>
  
  <div class="toolbar-spacer"></div>

  <div class="btn-group">
    <button type="button" class="btn btn3d toolbar-button"
            ng-model="sim.state" btn-radio="'running'" tooltip="Run sim">
      <ico i="play"></ico>
    </button>
    <button type="button" class="btn btn3d toolbar-button"
            ng-model="sim.state" btn-radio="'paused'" tooltip="Pause sim">
      <ico i="pause"></ico>
    </button>
    <button type="button" class="btn btn3d toolbar-button"
            ng-model="sim.state" btn-radio="'stopped'" tooltip="Stop sim">
      <ico i="stop"></ico>
    </button>    
  </div>
  
  <div class="toolbar-spacer"></div>
  
  <div class="btn-group">
    <div class="toolbar-timer">
      <ico i="clock-o"
           ng-if="sim.state=='running'">
      </ico><span tooltip="Simulation Time">{{ sim.time | stopwatch }}</span>
    </div>
  </div>
</div>